.col-2 {
    width: 16.66%; /* 2/12 * 100 */
    float: left;
    padding: 0 15px;
  }
  
  .col-4 {
    width: 33.33%; /* 4/12 * 100 */
    float: left;
    padding: 0 15px;
  }
  
  .col-6 {
    width: 50%; /* 6/12 * 100 */
    float: left;
    padding: 0 15px;
  }
  
  .col-12 {
    width: 100%; /* 12/12 * 100 */
    float: left;
    padding: 0 15px;
  }
  
  /* Добавление clearfix для сброса float */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  